# 3D printer
# This file should be installed to /etc/udev/rules.d so that you can access the printer without being root

SUBSYSTEMS=="usb", ATTRS{idVendor}=="27b1", ATTRS{idProduct}=="0001", SYMLINK+="printer", GROUP="<%= @group %>"